#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 50px 0px 50px;
  background-color: var(--color-cream);
  color: white;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 99;
}

#header .logoImg {
  width: 100px;
}
#header ul {
  display: flex;
  gap: 20px;
}
#header h3 {
  font-family: 'Roboto Slab','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
#header li h3:hover {
  text-decoration: underline;
}

.categories:hover #categories-dropdown {
  display: block;
}

.cart-icon-container {
  position: relative;
}
.cart-icon-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.live-cartCount {
  position: absolute;
  right: -10px;
  top: -15px;

  background-color: var(--color-lightOrange);
  border-radius: 20px;
  width: 25px;
  height: 25px;
  padding-top: 2px;

  text-align: center;
  font-size: 1.2rem;
}