/* will try a global css theme and then
a per module nested structure*/

$color-lightBlack: rgba(0, 0, 0, 0.8);
$myWidth: 680px;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $color-lightBlack;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  
}

nav *{
  text-decoration: none;
  list-style: none;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $color-lightBlack;
}

// make price lighter and smaller
.item-price {
  
}

//item title bolder and larger
.item-title {

}

//description regula
.item-description {

}

#shop {
  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    background-color: #f6f6f600;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.271);

    max-height: 500px;
    padding: 20px;

    .img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-height: 300px;
      margin: auto;
    }
    
    img {
      max-width: 100%;
      max-height: 300px; 
      width: auto; 
      height: auto; 
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 5px;
      height: 100px;
    }
  }
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 50px 0px 50px;
  background: gray;
  height: 100px;

  .logoImg {
    width: 100px;
  }

  ul {
    display: flex;
    gap: 5px;
  }
}

#footer {
  background: gray;
}