/* will try a global css theme and then
a per module nested structure*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-lightBlack);
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  --color-lightBlack: rgba(0, 0, 0, 0.8);
  --color-veryLightBlack: rgba(0, 0, 0, 0.5);
  --color-darkGreen: #283618dd;
  --color-lightGreen: #606c38dd;
  --color-lightOrange: #dda15edd;
  --color-darkOrange: #bc6b25c0;
  --color-cream: #fefae0dd;

  
  margin: auto;
  max-width: 2500px;
  background-color: var(--color-cream);
}

nav *{
  text-decoration: none;
  list-style: none;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-lightBlack);
}
.main-button {
  background-color: var(--color-darkGreen);
  color: white;
  border: none;
}
.light-button {
  background-color: var(--color-cream);
  color: var(--color-darkGreen);
  border: 1px solid var(--color-darkGreen);
  font-weight: 600;
}
.main-button:hover{
  outline: 2px solid var(--color-darkGreen);
}
.light-button:hover {
  border: 1px solid var(--color-darkOrange);
  outline: 1px solid var(--color-darkOrange)
  color: var(--color-darkOrange)
}

.body-container {
  margin: 0px 50px 0px 50px;
}

.item-price {
  font-size: 1.2rem;
}
.item-price::before {
  content: "$";
}
.item-title {
  font-size: 1.3rem;
}
.icon {
  font-size: 25px;
}
.light-font {
  color: var(--color-veryLightBlack);
}
.prevent-scroll {
  overflow: hidden;
}
.pointer:hover {
  cursor: pointer;
}

#categories-dropdown {
  display: none;
  position: absolute;
  left: 50%; /* Center the dropdown menu */
  transform: translateY(0) translateX(-50%); /* Initial position for animation */
  
  background-color: var(--color-darkGreen);
  padding: 10px;
  box-shadow: 2px 2px 5px 2px var(--color-veryLightBlack);

  animation: slideDown 0.3s ease;
}

.categories-dropdown-container{
  position: relative;
}

.categories-dropdown-container:hover #categories-dropdown, #categories-drowpdown {
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 10px;
}

.category {
  padding: 20px 20px;
  outline: 1px solid white;
  display: flex;
  align-items: center;
}
.category:hover {
  background-color: white;

  h3 {
    color: black;
  }
}
.category h3 {
  color: white;
}

@keyframes slideDown {
  from  {
    opacity: 0;
    transform: translateY(-10px) translateX((-50%));
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}



#footer {
  background: gray;
}